body {
	font-family: Verdana, Arial;
}

.product .card-content {
	min-height: 160px;
}

.product h1 {
	font-size: 1em;
	line-height: 1em !important;
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0;
}

.product p {
	color: white;
	font-size: 0.8em;
}

.address {
	font-size: 0.7em;
}